/* body{
    background-image:url("./images/IMG20200824080205.jpg");
    background-size:cover;
    background-position:center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
#intro{
<<<<<<< HEAD
    background-image:url("./images/theory-of-mind.jpg");
=======
    background-image:url("./theory-of-mind.jpg");
>>>>>>> 33e791000d8bd1b47b7f58b54694982193b0d380
    background-size:cover;
    background-position:center;
    height: 70vh;


}
#intro{
<<<<<<< HEAD
=======
    color: #712663;
>>>>>>> 33e791000d8bd1b47b7f58b54694982193b0d380
    text-align:center;
    font-size: 40px;
}


.ln{
    display:flex;
    font-size: inherit;
    justify-content: space-around;
    color: white;
}
nav{
<<<<<<< HEAD
    background-color: black;
=======
    background-color:gray;
>>>>>>> 33e791000d8bd1b47b7f58b54694982193b0d380
    background-size: 40px;
}