body{
    position: absolute;
    width: 1131px;
    height: 1442px;
    left: 21px;
    top: 132px;
background: url("IMG20200824080205.jpg");
background-size: cover;
}
h1{
    color:#712663;
    text-align: center;
}
.footer-nav{
    background-color:white;
}
.ln{
    display:flex;
    justify-content: flex-end;
    font-size:30px;

    
}
nav a{
    padding :10px 10px 10px;
    justify-content: space-between 40%;
}



