/* body{
    background-image:url("./images/IMG20200824080205.jpg");
    background-size:cover;
    background-position:center  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
#intro{
    background-image:url("./theory-of-mind.jpg");
    background-size:cover;
    background-position:center;
    height: 70vh;


}
#intro{
    color: #712663;
    text-align:center;
    font-size: 40px;
}


.ln{
    display:flex;
    font-size: inherit;
    justify-content: space-around;
    color: white;
}
nav{
    background-color:gray;
    background-size: 40px;
}